.container {
  width: 280px;
  color: #314d3e;
}





.remove-bookmark {
  margin-left: 5px;
  color: red;
  cursor: pointer;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}
.add-bookmark-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  padding: 3px;
}
.bookmarks {
  margin: 5px 5px;
  padding: 3px;
  justify-content: center;
  align-items: center;}

.bookmark {
  display: flex;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.bookmark-controls {
  flex: auto;
  text-align: right;
}
.container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 200vh;
}


/* card css */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  margin: 0 auto; /* Center the card horizontally */
  padding: 20px; /* Add padding to the card */
  box-sizing: border-box; /* Add box-sizing to include padding in the width */
  margin-top: 20px; /* Add margin around the card */
  margin-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Add some margin around the card */
.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Center the form elements within the card */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add some spacing between form elements */
form label,
form input,
form textarea,
form button {
  margin-bottom: 10px;
}

/* Add styling to the submit button */
form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

/* Add styling to the "View All Bookmarks" link */
a {
  display: block;
  text-align: center;
  margin-top: 20px;
}


 /* Style the button container */
 .button-container {
  display: flex;
  justify-content: space-between;
  
}

    /* Style the buttons */
    .button-container button {
     
      margin-right: 10px; /* Add margin between the buttons */
    }


/* card css and other styles... */

/* Style the green button */
.green-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Style the red button */
.red-button {
  background-color: #FF0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
